<canvas id="background" #backgroundCanvas></canvas>

<section class="content">

  <div id="Über_mich" class="div_background">
    <h3>Über mich</h3>
    Mein Name ist Severin Püntener. Das Thema Informatik interessiert mich schon seit längerem. Sicher hat dazu auch
    mein Vater, welcher Informatiker ist und mein Bruder, welcher an der ETH Informatik studiert mit beeinflusst.
    Bis jetzt habe ich kleinere Scratch, Java, HTML und Lego Mindstorms Projekte gemacht. Aktuell bin ich in der Sek A,
    welche ich im Sommer 2023 abschliessen werde.
    Ich bin sehr gut im selbstständigen und konzentrierten Arbeiten. Ich lasse mich auch nicht ablenken und bleibe immer
    geduldig dran. In der Schule sind Informatik und Mathe meinen Lieblingsfächer.

  </div>
<div id="place_holder" >

</div>

  <div id="arrow">
    <div id="dreieck">
    </div>
    <div id="rechteck">

    </div>
  </div>

  <div class="div_background">
    <h3>Vergangenheit</h3>
    iquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanc
  </div>
  <div class="div_background">
    <h3>Gegenwart</h3>
    Ich gehe in die <a href="https://szn.ch/">Schule Zürich Nord</a> in die Sek A
    In meiner Freizeit gehe ich in die <a href="https://zh11.ch/">Cevi</a> und bin dort Gruppenleiter.
    Ich bewege mich sehr gerne

  </div>

  <div class="div_background">
    <h3>Zukunft</h3>
    <span>
      Im Sommer 2023 möchte ich eine Lehre als Applikationsentwickler EFZ begingen, in einer Firma welche spannende
      Softwareprojekte macht. Ich freue mich auf die Arbeit am Computer, darauf mit logischem Denken Probleme lösen zu
      können und ein Teil von einem Team zu sein.
    </span>
  </div>


</section>


<!--
<div class="center">

  <h1>Das ist meine Webseite</h1>

  <div class="strucktur">

    <p>Willkommen ich heisse Severin und bin am 18.02.2008 geboren.</p>
    <p>Ich gehe in die 2 Sekundarstufe in der Schule Zürich Nord. <br/>
      Ich will mich für eine Lehrstelle als Informatiker EFZ bewerben.</p>

  </div>

</div>
-->
