$color-foreground: #31636b;
$color-background-arrow: #bbbdaf;
$iphone: 1000px;


#background {
  position: fixed;
  top: 0;
  left: 0;

  @media screen and (max-width: 1000px) {

    margin: -100px;
    padding: 100px;
    width: calc(100vw + 200px);
    height: calc(100vh + 200px);

  }
}


$margin-content: 30px;

.content {

  position: absolute;
  width: calc(100vw - #{$margin-content * 4});
  height: calc(100vh - #{$margin-content * 4});
  color: #000000;
  display: grid;
  top: 0;
  left: 0;
  align-items: start;
  grid-template-columns: 33% 33% 33%;
  grid-column-start: 2;
  grid-column-end: 3;

  overflow-y: auto;
  overflow-x: hidden;

  @media screen and (max-width: 1000px) {
    grid-template-columns: 100%;
    width: calc(100vw);
    height: calc(100vh);
    position: fixed;
  }

}

#Über_mich {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: $color-background-arrow;
  color: #000;
  @media screen and (max-width: 1000px) {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: $color-background-arrow;
    margin-top: 100px;
  }

}


.div_background {
  padding: $margin-content;
  background-color: #dfd6c0d4;
  margin: 25px 0;
}


// Style only for big screens (arrow and other stuff)
@media screen and (min-width: 1000px) {

  #arrow .div_background, #arrow h3 {
    margin: 0;
    padding: 0;
  }

  #arrow h3 {
    transition-duration: 100ms;
  }

  #arrow h3:hover {

    background-color: #b0ada2;
    font-size: 1.23em;
    transition-duration: 100ms;

  }

  //Arrow
  #arrow {

    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;


  }

  #dreieck {

    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #d9d2be;
    transform: rotate(90deg);

  }
  #rechteck {
    margin: 25px;
    width: calc(100% - 75px);
    background-color: $color-background-arrow;
    height: 50px;
  }


  /* Popup container*/
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }


  .pupup_position {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
  }


  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-template-columns: 33% 33% 33%;
    line-height: 50px;
  }

  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 400px;
    background-color: $color-background-arrow;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    line-height: 1.35rem;
  }


  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;


    // makes popup full screen...
    position: fixed;
    top: 150px;
    left: 150px;
    height: calc(100vh - 300px);
    width: calc(100vw - 300px);


    display: grid;
    text-align: center;
    align-items: center;

    span {

      margin: auto;
      max-width: 500px;

    }


  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
